@import "tailwindcss";

@layer base {
  html {
    @apply bg-mist-950 text-white dark:bg-mist-950 dark:text-white;
  }

  body {
    @apply bg-mist-950 text-white dark:bg-mist-950 dark:text-white;
  }
}
